article {
    display: flex;
    flex-wrap: wrap;

    & section{
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px silver solid;
        @include my-box-shadow(10px, 10px, 19px, -4px, rgba(255, 255, 255, 0.75));
        padding: $my-padding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;

        &#selling-points {
            flex-grow: 2;
            flex-basis: 100%;
          }
        & pre {
            background: #000;
            border: 1px solid #ddd;
            color: #666;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: $my-padding;
            display: block;
            white-space: pre-wrap;

            &.before{
                float: left;
                width: 40%;
              } 

            &.after {
                float: right;
                width: 40%;
              } 
          }
    }
  } 