
//General Variables 
$my-padding:16px;
// $my-font-color:#2748b3;
// $my-font-h-color:#6b8eff; 
$my-font-h-color:rgb(245, 60, 50);
$my-font-color:rgb(255,0,0);

//variables for buttons
$my-font-blue-btn-color:#2748b3;
$my-font-red-btn-color: rgb(255,0,0);


@mixin my-box-shadow($x, $y, $blur, $spread, $color){
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
     box-shadow: $x $y $blur $spread $color;
  } 

@import "_basic";
@import "_buttons";
@import "_article";
@import "_message";